*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


body{
  font-family: 'Sora', sans-serif;
  font-size: 16px;
}


main{
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

/* SIDEBAR SMALL */

.sidebar_small{
  width: 70px;
  height: calc(100% - 90px);
  background-color: black;
  visibility: hidden;
  text-align: center;
  position:relative;
}

.sidebar_small_logo img{
  width: 2.5rem;
  height: 2.5rem;
  margin: 0.5rem 0;
}

.sidebar_small_top img{
  width: 2rem;
  height: 2rem;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.sidebar_small_bot{
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
}

.sidebar_small_bot img{
  width: 2rem;
  height: 2rem;
  background-color: grey;
  border-radius: 50%;
  margin-top: 1rem;
}

.sidebar_small_bot i{
  color: grey;
}


/* SIDEBAR */

.sidebar{
  position:absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: black;
  width: 230px;
  height: calc(100% - 90px);
  color: grey;
}

.sidebar_top{
  min-height: 400px;
  overflow: hidden;
}

.sidebar_logo img{
  width: 80%;
  padding: 1rem;
}

.sidebar_nav_top img{
  width: 1.8rem;
  height: 1.8rem;
  vertical-align: middle;
}

.sidebar_nav_top li{
  list-style-type: none;
  padding-left: 1rem;
  margin-bottom: 0.6rem;
  line-height: 1.6rem;
  height: 1.6rem;
}

.sidebar_nav_top li:first-of-type{
  border-left: 2px solid #afff2a;
  color: white;
}

.sidebar_nav_top li:hover{
  color: white;
  cursor: pointer;
}

.sidebar_nav_top span{
  font-size: 0.8rem;
}

.sidebar_nav_playlist{
  margin-left: 1rem;
  overflow: hidden;
}

.sidebar_nav_playlist > p{
  margin-top: 1.6rem;
  margin-bottom: 1rem;
  color: white;
}

.add:hover, .sidebar_bot span:first-of-type:hover{
  color: white;
  cursor: pointer;
}

.plus{
  height: 2.7rem;
  width: 2.7rem;
  background-color: grey;
  display: inline-block;
  vertical-align: middle;
}

.plus i{
  color: black;
  font-size: 1.2rem;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.sidebar_nav_playlist ul{
  margin-top: 1rem;
}

.playlist_name li{
  list-style-type: none;
  font-size: 0.8rem;
  margin-bottom: 1rem;
}

.playlist_name li:hover{
  color: white;
  cursor: pointer;
}

.sidebar_bot{
  margin-left: 1rem;
  margin-bottom: 0.8rem;
}

.line{
  height: 1px;
  background-color: grey;
  width: 200px;
  margin-bottom: 0.8rem;
  margin-top: 0.8rem;
}

.sidebar_bot img{
  width: 1.8rem;
  height: 1.8rem;
  vertical-align: middle;
  background-color: grey;
  border-radius: 50%;
}

.sidebar_bot span{
  margin-left: 0.5rem;
}

.sidebar_bot span:first-of-type, .sidebar_bot i{
  font-size: 0.8rem;
}

.sidebar_bot span:last-of-type{
  color: white;
}

/* MAIN SECTION */

.main-section{
  position: absolute;
  top: 0;
  right: 0;
  width: calc(100% - 230px);
  height: calc(100% - 90px);
  background-color: #141922;
  overflow-y: scroll;
  min-width: 400px;
}

.topbar{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: fixed;
  height: 90px;
  min-width: 400px;
  width: calc(100% - 230px);
  background-color: rgba(0, 0, 0, 0.7);
}

.topbar .upgrade_btn{
  width: 200px;
  height: 40px;
  border: 1px solid white;
  border-radius: 20px;
  color: white;
  text-align: center;
  line-height: 40px;
  margin-right: 2rem;
  font-size: 0.8rem;
  transition: 1s;
}

.upgrade_btn:hover{
  cursor: pointer;
  transform: scale(1.1);
}

.navbar{
  padding-top: 110px;
  display: flex;
  justify-content: center;
}

.navbar ul{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.navbar ul li{
  display: inline-block;
  list-style-type: none;
  color: grey;
  margin-right: 1rem;
  margin-bottom: 1rem;
  font-size: 0.8rem;
}

.navbar ul li:hover{
  color: white;
  cursor: pointer;
}

.navbar ul li:first-of-type .underline{
  visibility: visible;
}

.underline{
  background-color: #afff2a;
  height: 2px;
  width: 30px;
  position:relative;
  left: 50%;
  transform: translate(-50%, 0);
  visibility: hidden;
}

.recent_player{
  padding-left: 1rem;
  padding-right: 1rem;
}

.recent_player h1{
  color: white;
  margin-bottom: 1rem;
}

.recent_player h4, .created_for h4, .most_popular h4{
  color: white;
  text-align: center;
  margin-top: 1rem;
}

.recent_player .card p{
  color: grey;
  text-align: center;
  font-size: 0.8rem;
  margin-top: 0.5rem;
}

.music_grid{
  display: flex;
  flex-wrap: wrap;
}

.card {
  margin-top: 1rem;
  margin-right: 1rem;
  flex-basis: calc(100% / 6 - 1rem);
}

.image{
  position: relative;
}

.overlay {
	display: none;
  position: absolute;
	top: 0;
	left: 0;
  bottom: 0;
  right: 0;
	background-color: rgba(0, 0, 0, 0.5);
	color: white;
	font-size: 5rem;
}

.play {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.image:hover .overlay {
	display: inline-block;
  cursor: pointer;
}

.round{
  border-radius: 50%;
}

.card img{
  width: 100%;
}

.created_for{
  padding-left: 1rem;
  padding-right: 1rem;
}

.created_for h1, .most_popular h1{
  color: white;
  margin-bottom: 1rem;
  margin-top: 2rem;
}

.created_for p, .most_popular p{
  margin-bottom: 1rem;
  color: grey;
  font-size: 0.8rem;
}

.most_popular{
  padding-left: 1rem;
  padding-right: 1rem;
}

.most_popular .card img{
  border-radius: 50%;
}

.card img::before:hover{
  opacity: 1;
  content:"WOW";
}

.most_popular .card{
  margin-bottom: 1rem;
}

/* PLAYER */

.player{
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: #282828;
  width: 100%;
  height: 90px;
}

.music_player{
  height: 100%;
  display: flex;
  justify-content: space-between;

}

.playing{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  width: 230px;
  padding-left: 1rem;
  padding-right: 1rem;
}

.playing_left{
  display:flex;
  align-items: center;
}

.playing_left img{
  width: 2.5rem;
  height: 2.5rem;
  margin-right: 0.5rem;
}

.playing_left *:hover{
  text-decoration: underline;
  cursor: pointer;
}

.playing_left h5{
  color: white;
}

.playing_left p, .time{
  font-size: 0.6rem;
  color: grey;
}

.playing_right i{
  margin-left: 0.5rem;
  color: grey;
}

.playing_right{
  display: flex;
  justify-content: flex-end;
}

.playing_right *:hover{
  cursor: pointer;
  color:white;
}

.main_control{
  position: relative;
  min-width: 200px;
}

.control_top i:hover{
  cursor: pointer;
}

.control_top li:nth-of-type(3):hover{
  transform: scale(1.1);
}



.control_top{
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.control_top ul{
  display: flex;
  align-items: center;
}

.control_top ul li{
  list-style-type: none;
  margin-left: 1.2rem;
  color: white;
}


.control_bot{
  height: 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bar{
  position: relative;
  width: 75%;
  height: 3px;
  background-color: grey;
  cursor: pointer;
  border-radius: 3px;
}

.bar_light{
  width: 20%;
  height: 3px;
  background-color: lightgrey;
  border-radius: 3px;
}

.bar_green{
  position: absolute;
  top: 0;
  width: 20%;
  height: 3px;
  background-color: #afff2a;
  border-radius: 3px;
  display: none;
}

.bar_ball{
  position: absolute;
  top: -3px;
  left: 20%;
  height: 9px;
  width: 9px;
  border-radius: 50%;
  background-color: lightgrey;
  display: none;
}

.bar:hover .bar_green, .bar:hover .bar_ball{
  display: inline-block;
  cursor: pointer;
}

.side_control{
  width: 230px;
  color: grey;
  padding-left: 1rem;
  padding-right: 1rem;
}

#bar_volume{
  position: relative;
  width: 50%;
  height: 3px;
  border-radius: 3px;
  background-color: grey;
}

#light_bot{
  width: 20%;
  height: 3px;
  border-radius: 3px;
  background-color: lightgrey;
}

#green_bot{
  position: absolute;
  top: 0;
  width: 20%;
  height: 3px;
  border-radius: 3px;
  background-color: #afff2a;
  display: none;
}

#ball_bot{
  position:absolute;
  top: -3px;
  left: 20%;
  height: 9px;
  width: 9px;
  border-radius: 50%;
  background-color: lightgrey;
  display:none;
}

#bar_volume:hover{
  cursor: pointer;
}

#bar_volume:hover #green_bot, #bar_volume:hover #ball_bot{
  display: inline-block;
}

.main_control{
  width: 40%;
}

.side_control{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  width: 230px;
}





@media screen and (max-width: 768px){

  .sidebar{
    display: none;
  }

  .sidebar_small{
    visibility: visible;
  }

  .main-section{
    width: calc(100% - 70px);
  }

  .topbar{
    width: calc(100% - 70px);
  }

  .card {
    flex-basis: calc(100% / 2 - 1rem);
  }

  .playing_right{
    flex-direction: column;
  }

  .time{
    margin: 0 0.5rem;
  }
}
@media screen and (min-width: 769px) and (max-width: 992px){
  .card {
    flex-basis: calc(100% / 2 - 1rem);
  }
}
@media screen and (min-width: 993px) and (max-width: 1200px){
  .card {
    flex-basis: calc(100% / 4 - 1rem);
  }
}
@media screen and (min-width: 1201px){

}
